p{
    
    font-size:1vw;
    text-align: center;
    font-family: cursive;
    font-weight:bolder;
}

p:hover{
    cursor: pointer;
}

.bottom{
    display:flexbox;
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
    padding: 10px;
    border:double 10px  gray;
    border-radius: 20%;
    text-align: center;
}

.top{
    display: flexbox;
    text-align: center;
    width: auto;
    height: auto;
    background-color:whitesmoke;
    padding: 10px;
    border:double 10px  gray;
    border-radius: 20%;
}
.container{
    background:url(https://images.pexels.com/photos/3308588/pexels-photo-3308588.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;
    border-radius:5%;
    border:10px solid aqua;
    display:flexbox;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:auto;

}
h1.Header::first-letter{
color: red;
font-variant: small-caps;
font-weight: bolder;

}

.Header{
    font-size:3vw;
    border: solid 10px red;
    border-radius: 20%;
    background-color: black;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    text-align: center;
    color:beige;
    font-family: cursive;
    text-decoration: double underline white;
    padding-bottom: 10px;
}
h2{
    font-size:2vw;
    font-family: cursive;
    font-weight: bolder;
    color: wheat;
    background-color: black;
    width:auto;
    text-decoration: underline;
    
 }
 
 h1:hover{
    color:yellowgreen;
    
    }
body{
    margin-top:20px;
    font-family: arial;
}
div.thumbnails img{
    width:100px;
    height: 100px;
    border: 3px dotted aqua;
    margin: 0 10px 10px 0; 
    border-radius: 10%;
    max-width:100%;
    

}
.thumbnails img:hover{
    border:4px solid red;
    border-radius: 10%;
    
   
}
.preview img{
    border:4px dotted aqua;
    border-radius: 10%;
    padding: 1px;
    width: 300px;
    height:300px;
    max-width:100%;
    
    
}
a{
    width: auto;
    height: auto;
    font-size:1vw;
    background-color:white;
    color: black;
    padding: 10px;
    margin:0 10px 10px 0;
    font-family: cursive;  
    text-align: center; 
    
}
a:hover{
    background-color:bisque;
    color: black;
}
@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .top,.container,.thumbnails,.preview{
      width: 100%;
    }
  }